html {
  box-sizing: border-box;
  font-family: "Adobe Caslon Pro", "adobe-caslon-pro", "Crimson Text", "Lusitana", "Serif", "Lucida Grande", "Lucida Sans Unicode", "Tahoma",
    "Sans-Serif";
  font-weight: normal;
  color: #333333;
  line-height: 1.5;
  margin: none;
  background: url("../images/landing_background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.background {
  justify-content: center;
  margin: auto;
  text-align: center;
}

.logo {
  padding-top: 100px;
}

h1 {
  color: #724242;
  font-size: 36px;
  padding-top: 60px;
}

h2 {
  color: #724242;
  font-size: 28px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
}

.header {
  font-size: 22px;
  color: white;
  padding: 0px 30px 30px 30px;
  max-width: 740px;
  margin: auto;
}

.header p {
  margin: none;
}

.header a {
  color: #89934A;
  style: none;
  font-weight: lighter;
}

.header a:hover {
  color: #FDA400;
}

.content {
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 940px;
  border-radius:20px;
  margin: auto;
}

.content p {
  font-size: 22px;
  padding: 0px 30px 30px 30px;
  max-width: 800px;
  margin: auto;
}

.button a {
  text-decoration: none;
  color: white;
  padding: 16px 30px;
  background-color: #89934A;
  border: #89934A;
  border-width: 4px;
  border-radius: 10px;
  border-style: solid;
  font-size: 28px;
}

.button {
  padding: 60px 0px;
}

.button a:hover {
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.address a {
  text-decoration: none;
  color: white;
  font-size: 22px;
}

.address a:hover {
  color: #89934A;
}

.address {
  padding-bottom: 60px;
}

ul {
  color: #333333;
  list-style-type: none;
  font-size: 18px;
  line-height: 2;
  padding: 0px 20px;
}

@media screen and (max-width: 1000px) {
  .button a {
    font-size: 14px;
  }
  .button{
    padding-bottom: 60px;
  }

 h1{
    font-size: 28px;
  }
 h2 {
   font-size: 22px;
 }

  .address a {
    font-size: 18px;
  }

  .content{
    margin: 20px;
  }
  .content p {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;

  }
  .address{
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

}

@media screen and (max-width: 500px) {
  .logo{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }
  .logo img {
    width: 100%;
    height: 100%;
  }
}
