html {
  box-sizing: border-box;
  font-family: "Helvetica", "Lato", "Lucida Grande", "Lucida Sans Unicode", "Tahoma",
    "Sans-Serif";
  font-weight: normal;
  line-height: 200%;
  color: #333333;
  margin: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.wrapper {
  display: grid;
}

.topnav {
  background-color: #56534D;
  height: 140px;
}
